<div class="nav-header">
<div class="application-name"><%= AppKit.application.config.application_title %></div>
  <div class="user">
    <%= link_to 'profile', ak_path(current_user) %> | <%= link_to 'logout', app_kit.destroy_user_session_path, :method => :delete %>
  </div>
</div>
<div class="nav">
    <div class="nav-left">
      <% AppKit::Navigation::RESOURCES.each do |resource| %>
        <% next unless resource.navigation_position == :left %>
        <% if params[:controller] == "app_kit/#{resource.controller_name}" %>
            <%= link_to [app_kit, resource.model], class: 'active' do %>
                <%= icon(resource.navigation_icon, nil, class: 'fa-2x fa-fw') %>
                <%= resource.plural_display_name %>
            <% end %>
        <% else %>
            <%= link_to [app_kit, resource.model] do %>
                <%= icon(resource.navigation_icon, nil, class: 'fa-2x fa-fw') %>
                <%= resource.plural_display_name %>
            <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="nav-right">
      <% AppKit::Navigation::RESOURCES.each do |resource| %>
        <% next unless resource.navigation_position == :right %>
        <% if params[:controller] == "app_kit/#{resource.controller_name}" %>
            <%= link_to [app_kit, resource.model], class: 'active' do %>
                <%= icon(resource.navigation_icon, nil, class: 'fa-2x fa-fw') %>
                <%= resource.plural_display_name %>
            <% end %>
        <% else %>
            <%= link_to [app_kit, resource.model] do %>
                <%= icon(resource.navigation_icon, nil, class: 'fa-2x fa-fw') %>
                <%= resource.plural_display_name %>
            <% end %>
        <% end %>
      <% end %>
    </div>
</div>
