<div class="panelkit">
  <div class="pk-title">
    <%= icon(item.icon, item.title) %>
    <span class="right">
      <%= link_to icon('filter', 'Filter'), '#', class: 'filter-trigger' %>
    </span>
  </div>
  <div class="pk-body">
    <% if item.records.count > 0 %>
      <div class="table-container">
        <table id="table-<%= item.resource.model.name.underscore %>">
        <thead>
          <tr>
            <% item.resource.table_fields.each do |field| %>
              <th>
                <%= field.display_name %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% item.records.each do |record| %>
            <tr class="data-row" data-url="<%= ak_path(record) %>">
              <% item.resource.table_fields.each do |field| %>
                <td><%= format_attribute(record,field) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="panel-footer-links">
        <div class="left">
  <%= paginate item.records, params: { :route_set => :app_kit } %>
        </div>
        <div class="right">
        <%= link_to 'XML', ak_path(item.resource.model, :format => :xml, "#{item.resource.model.name.underscore}_filter".to_sym => params["#{item.resource.model.name.underscore}_filter"]) %>
        <%= link_to 'JSON', ak_path(item.resource.model, :format => :json, "#{item.resource.model.name.underscore}_filter".to_sym => params["#{item.resource.model.name.underscore}_filter"]) %>
        <%= link_to 'CSV', ak_path(item.resource.model, :format => :csv, "#{item.resource.model.name.underscore}_filter".to_sym => params["#{item.resource.model.name.underscore}_filter"]) %>
        </div>
      </div>
    </div>
  <% else %>
    <p class="no-data">
      No <%= item.resource.plural_display_name.downcase %> found.
    </p>
  <% end %>
  </div>
</div>
