<div class="panelkit">
  <div class="pk-title">
    <%= icon(item.icon, item.title) %>
    <span class="right">
      <%= link_to icon('filter', 'Filter'), '#', class: 'filter-trigger' %>
    </span>
  </div>
  <div class="pk-body">
    <% if item.get_records.count > 0 %>
    <table>
      <thead>
        <tr>
          <th class="checkbox-cell"><%= check_box_tag :all %></th>
          <% item.resource.table_fields.each do |field| %>
            <th>
              <%= field.display_name %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% item.get_records.each do |record| %>
          <tr class="data-row" data-url="<%= ak_path(record) %>">
            <td class="checkbox-cell"><%= check_box_tag record.id %></td>
            <% item.resource.table_fields.each do |field| %>
              <td><%= format_attribute(record,field) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="data-download">
      <%= link_to 'XML', ak_path(item.resource.model, :format => :xml) %>
      <%= link_to 'JSON', ak_path(item.resource.model, :format => :json) %>
      <%= link_to 'CSV', ak_path(item.resource.model, :format => :csv) %>
    </div>
    <%= paginate item.get_records, params: { :route_set => :app_kit } %>
  <% else %>
    <p class="no-data">
      No <%= item.resource.plural_display_name.downcase %> found.
    </p>
  <% end %>
  </div>
</div>
