<% content_for :breadcrumb do %>
  <li><%= link_to resource.plural_display_name, [app_kit, @record.class] %></li>
  <li><%= link_to @record.to_s, [app_kit, @record] %> </li>
  <li class="active">History</li>
<% end %>
<% if @record.versions.length == 0 %>
  <p class="no-data">No edits have been made for this record</p>
<% else %>
    <div class="version-list">
      <div class="version created">
        <div class="glyph"><%= icon('plus') %> </div>
        <div class="title"> Record created </div>
        <div class="detail"> <%= time_ago_in_words @record.created_at %> ago</div>
    </div>
    <% if @record.versions.count > 0 %>
      <div class="version-arrow"></div>
    <% end %>
    <% @record.versions.each_with_index do |version, index| %>
      <%= link_to polymorphic_path([app_kit, :version, @record], version_id: version.index), class: 'version edited' do %>
        <div class="glyph"><%= icon('edit') %></div>
          <div class="title">Record <%= version.event.capitalize %></div>
          <div class="detail"> <%= time_ago_in_words version.created_at %> ago</div>
          <% if AppKit.application.config.authentication_enabled? %>
            <div class="detail"><%= AppKit::User.find_by_id(version.whodunnit) %></div>
          <% end %>
    <% end %>
    <% if index < @record.versions.count - 1 %>
      <div class="version-arrow"></div>
    <% end %>
  <% end %>
  </div>
<% end %>
