<% content_for :breadcrumb do %>
    <li class="active"><%= resource.model.name.humanize.pluralize %></li>
<% end %>
<div class="panelkit">
    <div class="pk-title"><%= resource_name %></div>
    <div class="pk-body">
        <table>
            <thead>
                <tr>
                    <% resource.table_fields.each do |field| %>
                        <th><%= field.display_name.to_s.humanize %></th>
                    <% end %>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @records.each do |record| %>
                    <tr>
                        <% resource.table_fields.each do |field| %>
                            <td><%= format_attribute(record,field) %></td>
                        <% end %>
                        <td><%= link_to 'View', polymorphic_path([app_kit, record]) %></td> 
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <%= link_to "New #{resource_name.singularize}", new_polymorphic_path([app_kit, model])%>
    </button>
</div>

        
