<% content_for :breadcrumb do %>
    <li><%= link_to @record.class.name.humanize.pluralize, [app_kit, @record.class] %></li>
    <li class="active"><span class="resource"><%= @record.class.name.humanize %></span><%= @record %></li>
<% end %>
<% content_for :breadcrumb_tools do %>
    <li><%= link_to icon('edit'), edit_polymorphic_path([ app_kit, @record]) %></li>
    <li><%= link_to icon('trash'), polymorphic_path([ app_kit, @record]) %></li>
<% end %>
<div class="show-details">
    <div class="panelkit details">
        <div class="pk-title"><%= @record %></div>
        <div class="pk-body">
            <div class="keyval">
                <% resource.detail_fields.each do |field| %>
                    <div class="kv-row">
                        <span class="kv-key"><%= field.display_name %></span><span class="kv-value"><%= format_attribute(@record, field) %></span>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="actions">
        <h2>Actions</h2>
        <ul>
            <% resource.member_actions.each do |name, action| %>
                <% if action.enabled_for_record?(@record) %>
                    <li><%= link_to action.name.to_s.humanize, polymorphic_path([app_kit, action.name, @record])%></li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>
<% resource.has_many_associations.each do |assoc_name| %>
    <div class="panelkit">
        <div class="pk-title"><%= assoc_name.to_s.humanize.pluralize %> </div>
        <div class="body">
            <% @record.send(assoc_name).each do |assoc_record| %>
                <%= assoc_record %>
            <% end %>
        </div>
    </div>
<% end %>
